html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $font-sm;
  font-weight: 700;
  background-color: #f6f6fe;
  background-image: url("/images/bg-bottom.svg"), url("/images/bg-top.svg");
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-size: contain contain;
  min-height: 100vh;

  @include breakpoint-down(small) {
    background-image: none;
  }
}

ul {
  list-style: none;
}
