html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $font-sm;
  background-color: $veryLightGrayishBlue;
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  @include breakpoint-down(small) {
    background-image: url("../images/bg-top.svg");
    background-repeat: no-repeat;
    background-position-x: 50vw;
    background-position-y: -40px;
  }
}

ul {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
