// Colors
$veryLightGrayishBlue: hsl(240, 78%, 98%);
$lightGrayishBlue: hsl(234, 14%, 74%);
$grayishBlue: hsl(233, 13%, 49%);
$darkGrayishBlue: hsl(232, 13%, 33%);
$veryLightPurple: hsl(238, 56%, 77%);
$lightPurple: hsl(236, 72%, 79%);
$darkPurple: hsl(237, 63%, 64%);
$lightGray: hsl(0, 0%, 86%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-xsm: 0.8125rem; // 15px
$font-sm: 0.9375rem; // 15px
$font-med: 1.125rem; // 18px
$font-xl: 4.375rem; // 70px
